In [1]:
# imports
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_excel('Unemployment in India.xlsx')
df2 = pd.read_excel('Unemployment_Rate_upto_11_2020.xlsx')

In [3]:
df1.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,30-06-2019,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,31-07-2019,Monthly,3.75,12086707.0,43.50,Rural
3,Andhra Pradesh,31-08-2019,Monthly,3.32,12285693.0,43.97,Rural
4,Andhra Pradesh,30-09-2019,Monthly,5.17,12256762.0,44.68,Rural

In [4]:
df2.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Region.1,Longitude,Latitude
0,Andhra Pradesh,31-01-2020,M,5.48,16635535,41.02,South,15.9129,79.74
1,Andhra Pradesh,29-02-2020,M,5.83,16545652,40.90,South,15.9129,79.74
2,Andhra Pradesh,31-03-2020,M,5.79,15881197,39.18,South,15.9129,79.74
3,Andhra Pradesh,30-04-2020,M,20.51,11336911,33.10,South,15.9129,79.74
4,Andhra Pradesh,31-05-2020,M,17.43,12988845,36.46,South,15.9129,79.74

In [5]:
df1.dtypes

Region                                      object
Date                                        object
Frequency                                   object
Estimated Unemployment Rate (%)            float64
Estimated Employed                         float64
Estimated Labour Participation Rate (%)    float64
Area                                        object
dtype: object

## Data Cleaning

In [6]:
df1['Date'] = pd.to_datetime(df1['Date'], format='%d-%m-%Y')

In [7]:
df1.isna().sum()

Region                                     14
Date                                       14
Frequency                                  14
Estimated Unemployment Rate (%)            14
Estimated Employed                         14
Estimated Labour Participation Rate (%)    14
Area                                       14
dtype: int64

In [8]:
df1 = df1.dropna(axis=0)

In [9]:
df1

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,2019-05-31,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,2019-06-30,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,2019-07-31,Monthly,3.75,12086707.0,43.50,Rural
3,Andhra Pradesh,2019-08-31,Monthly,3.32,12285693.0,43.97,Rural
4,Andhra Pradesh,2019-09-30,Monthly,5.17,12256762.0,44.68,Rural
...,...,...,...,...,...,...,...
749,West Bengal,2020-02-29,Monthly,7.55,10871168.0,44.09,Urban
750,West Bengal,2020-03-31,Monthly,6.67,10806105.0,43.34,Urban
751,West Bengal,2020-04-30,Monthly,15.63,9299466.0,41.20,Urban
752,West Bengal,2020-05-31,Monthly,15.22,9240903.0,40.67,Urban
753,West Bengal,2020-06-30,Monthly,9.86,9088931.0,37.57,Urban

In [10]:
df2['Date'] = pd.to_datetime(df2['Date'], format='%d-%m-%Y')

In [11]:
df2 = df2.drop(['Longitude', 'Latitude'], axis=1)

In [12]:
df2 = df2.rename(columns={'Region.1':'Regional'})

In [13]:
df2

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Regional
0,Andhra Pradesh,2020-01-31,M,5.48,16635535,41.02,South
1,Andhra Pradesh,2020-02-29,M,5.83,16545652,40.90,South
2,Andhra Pradesh,2020-03-31,M,5.79,15881197,39.18,South
3,Andhra Pradesh,2020-04-30,M,20.51,11336911,33.10,South
4,Andhra Pradesh,2020-05-31,M,17.43,12988845,36.46,South
...,...,...,...,...,...,...,...
262,West Bengal,2020-06-30,M,7.29,30726310,40.39,East
263,West Bengal,2020-07-31,M,6.83,35372506,46.17,East
264,West Bengal,2020-08-31,M,14.87,33298644,47.48,East
265,West Bengal,2020-09-30,M,9.35,35707239,47.73,East
266,West Bengal,2020-10-31,M,9.98,33962549,45.63,East

In [14]:
df1.query('Region=="Karnataka"')

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
147,Karnataka,2019-05-31,Monthly,5.46,13911440.0,46.36,Rural
148,Karnataka,2019-06-30,Monthly,5.98,12888490.0,43.12,Rural
149,Karnataka,2019-07-31,Monthly,0.52,12169808.0,38.42,Rural
150,Karnataka,2019-08-31,Monthly,0.37,12686470.0,39.93,Rural
151,Karnataka,2019-09-30,Monthly,3.20,13741892.0,44.45,Rural
152,Karnataka,2019-10-31,Monthly,7.13,12803527.0,43.10,Rural
153,Karnataka,2019-11-30,Monthly,1.19,11537217.0,36.45,Rural
154,Karnataka,2019-12-31,Monthly,0.41,12756132.0,39.92,Rural
155,Karnataka,2020-01-31,Monthly,2.57,13938874.0,44.52,Rural
156,Karnataka,2020-02-29,Monthly,4.11,12753657.0,41.33,Rural
157,Karnataka,2020-03-31,Monthly,2.39,12853818.0,40.85,Rural
158,Karnataka,2020-04-30,Monthly,33.17,9330400.0,43.25,Rural
159,Karnataka,2020-05-31,Monthly,23.72,10626328.0,43.09,Rural
160,Karnataka,2020-06-30,Monthly,10.92,15396213.0,53.37,Rural
533,Karnataka,2019-05-31,Monthly,6.56,8638239.0,40.62,Urban
534,Karnataka,2019-06-30,Monthly,5.00,8862498.0,40.89,Urban
535,Karnataka,2019-07-31,Monthly,2.29,8738029.0,39.09,Urban
536,Karnataka,2019-08-31,Monthly,1.27,8614340.0,38.04,Urban
537,Karnataka,2019-09-30,Monthly,3.57,8647794.0,39.00,Urban
538,Karnataka,2019-10-31,Monthly,3.87,8799249.0,39.70,Urban
539,Karnataka,2019-11-30,Monthly,3.44,8613835.0,38.60,Urban
540,Karnataka,2019-12-31,Monthly,1.56,8592376.0,37.66,Urban
541,Karnataka,2020-01-31,Monthly,3.31,8749154.0,38.94,Urban
542,Karnataka,2020-02-29,Monthly,2.88,8924061.0,39.45,Urban
543,Karnataka,2020-03-31,Monthly,4.92,9225835.0,41.55,Urban
544,Karnataka,2020-04-30,Monthly,25.12,7387995.0,42.14,Urban
545,Karnataka,2020-05-31,Monthly,15.88,8669258.0,43.90,Urban
546,Karnataka,2020-06-30,Monthly,6.12,8822411.0,39.93,Urban

In [15]:
df2.query('Region=="Karnataka"')

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Regional
109,Karnataka,2020-01-31,M,2.86,22688028,42.18,South
110,Karnataka,2020-02-29,M,3.61,21677719,40.54,South
111,Karnataka,2020-03-31,M,3.46,22079653,41.14,South
112,Karnataka,2020-04-30,M,29.84,16718395,42.78,South
113,Karnataka,2020-05-31,M,19.97,19397853,43.43,South
114,Karnataka,2020-06-30,M,8.44,24215057,47.29,South
115,Karnataka,2020-07-31,M,4.01,22885616,42.55,South
116,Karnataka,2020-08-31,M,0.50,24094289,43.13,South
117,Karnataka,2020-09-30,M,2.41,20127176,36.66,South
118,Karnataka,2020-10-31,M,1.58,22356390,40.30,South

There is a data discrepancy between the two data. To encounter this issue, the data from January 2020 in df1 is replaced by df2 data.

In [16]:
# removing all 2020 data from df1
df1 = df1[df1['Date'].dt.year != 2020]

In [17]:
regions = df1['Region'].unique()

result = pd.DataFrame()

for region in regions:
    df1_region = df1[df1['Region']==region]
    df2_region = df2[df2['Region']==region]

    df1_region = pd.concat([df1_region, df2_region], ignore_index=True)

    result = pd.concat([result, df1_region], ignore_index=True)

In [18]:
result.query('Region=="Karnataka"')

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area,Regional
280,Karnataka,2019-05-31,Monthly,5.46,13911440.0,46.36,Rural,NaN
281,Karnataka,2019-06-30,Monthly,5.98,12888490.0,43.12,Rural,NaN
282,Karnataka,2019-07-31,Monthly,0.52,12169808.0,38.42,Rural,NaN
283,Karnataka,2019-08-31,Monthly,0.37,12686470.0,39.93,Rural,NaN
284,Karnataka,2019-09-30,Monthly,3.20,13741892.0,44.45,Rural,NaN
285,Karnataka,2019-10-31,Monthly,7.13,12803527.0,43.10,Rural,NaN
286,Karnataka,2019-11-30,Monthly,1.19,11537217.0,36.45,Rural,NaN
287,Karnataka,2019-12-31,Monthly,0.41,12756132.0,39.92,Rural,NaN
288,Karnataka,2019-05-31,Monthly,6.56,8638239.0,40.62,Urban,NaN
289,Karnataka,2019-06-30,Monthly,5.00,8862498.0,40.89,Urban,NaN
290,Karnataka,2019-07-31,Monthly,2.29,8738029.0,39.09,Urban,NaN
291,Karnataka,2019-08-31,Monthly,1.27,8614340.0,38.04,Urban,NaN
292,Karnataka,2019-09-30,Monthly,3.57,8647794.0,39.00,Urban,NaN
293,Karnataka,2019-10-31,Monthly,3.87,8799249.0,39.70,Urban,NaN
294,Karnataka,2019-11-30,Monthly,3.44,8613835.0,38.60,Urban,NaN
295,Karnataka,2019-12-31,Monthly,1.56,8592376.0,37.66,Urban,NaN
296,Karnataka,2020-01-31,M,2.86,22688028.0,42.18,NaN,South
297,Karnataka,2020-02-29,M,3.61,21677719.0,40.54,NaN,South
298,Karnataka,2020-03-31,M,3.46,22079653.0,41.14,NaN,South
299,Karnataka,2020-04-30,M,29.84,16718395.0,42.78,NaN,South
300,Karnataka,2020-05-31,M,19.97,19397853.0,43.43,NaN,South
301,Karnataka,2020-06-30,M,8.44,24215057.0,47.29,NaN,South
302,Karnataka,2020-07-31,M,4.01,22885616.0,42.55,NaN,South
303,Karnataka,2020-08-31,M,0.50,24094289.0,43.13,NaN,South
304,Karnataka,2020-09-30,M,2.41,20127176.0,36.66,NaN,South
305,Karnataka,2020-10-31,M,1.58,22356390.0,40.30,NaN,South

In [19]:
result['Regional'] = result['Regional'].bfill(axis=0)

In [20]:
result['Area'] = result['Area'].ffill(axis=0)

In [21]:
result[result['Region']=='Chandigarh']

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area,Regional
689,Chandigarh,2019-05-31,Monthly,18.35,348042.0,44.89,Urban,NaN
690,Chandigarh,2019-06-30,Monthly,12.40,337145.0,40.44,Urban,NaN
691,Chandigarh,2019-07-31,Monthly,21.80,294379.0,39.47,Urban,NaN
692,Chandigarh,2019-08-31,Monthly,9.52,328282.0,37.95,Urban,NaN
693,Chandigarh,2019-09-30,Monthly,20.14,327239.0,42.77,Urban,NaN
694,Chandigarh,2019-10-31,Monthly,13.99,330856.0,40.06,Urban,NaN
695,Chandigarh,2019-11-30,Monthly,22.05,289593.0,38.60,Urban,NaN
696,Chandigarh,2019-12-31,Monthly,8.33,311146.0,35.19,Urban,NaN

In [22]:
chandigarh_index = result[result['Region']=='Chandigarh'].index
for idx in chandigarh_index:
    result.at[idx, 'Regional'] = 'North'

In [23]:
result[result['Region']=='Chandigarh']

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area,Regional
689,Chandigarh,2019-05-31,Monthly,18.35,348042.0,44.89,Urban,North
690,Chandigarh,2019-06-30,Monthly,12.40,337145.0,40.44,Urban,North
691,Chandigarh,2019-07-31,Monthly,21.80,294379.0,39.47,Urban,North
692,Chandigarh,2019-08-31,Monthly,9.52,328282.0,37.95,Urban,North
693,Chandigarh,2019-09-30,Monthly,20.14,327239.0,42.77,Urban,North
694,Chandigarh,2019-10-31,Monthly,13.99,330856.0,40.06,Urban,North
695,Chandigarh,2019-11-30,Monthly,22.05,289593.0,38.60,Urban,North
696,Chandigarh,2019-12-31,Monthly,8.33,311146.0,35.19,Urban,North

In [24]:
result.isna().sum()

Region                                     0
Date                                       0
Frequency                                  0
Estimated Unemployment Rate (%)            0
Estimated Employed                         0
Estimated Labour Participation Rate (%)    0
Area                                       0
Regional                                   0
dtype: int64

In [25]:
result = result.drop(['Frequency'], axis=1)

In [26]:
result

,Region,Date,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area,Regional
0,Andhra Pradesh,2019-05-31,3.65,11999139.0,43.24,Rural,South
1,Andhra Pradesh,2019-06-30,3.05,11755881.0,42.05,Rural,South
2,Andhra Pradesh,2019-07-31,3.75,12086707.0,43.50,Rural,South
3,Andhra Pradesh,2019-08-31,3.32,12285693.0,43.97,Rural,South
4,Andhra Pradesh,2019-09-30,5.17,12256762.0,44.68,Rural,South
...,...,...,...,...,...,...,...
692,Chandigarh,2019-08-31,9.52,328282.0,37.95,Urban,North
693,Chandigarh,2019-09-30,20.14,327239.0,42.77,Urban,North
694,Chandigarh,2019-10-31,13.99,330856.0,40.06,Urban,North
695,Chandigarh,2019-11-30,22.05,289593.0,38.60,Urban,North
696,Chandigarh,2019-12-31,8.33,311146.0,35.19,Urban,North

In [27]:
result['Date'] = pd.to_datetime(result['Date']).dt.date

In [28]:
# result.to_parquet('unemployment_rate.parquet')

In [29]:
def getRegionWisePlots(y):
    fig, axs = plt.subplots(7, 4, figsize=(15, 20))  
    regions = result['Region'].unique()
    
    for i, region in enumerate(regions):
        row = i // 4
        col = i % 4
        ax = axs[row, col]
        
        region_data = result[result['Region'] == region]
        
        for label in ax.get_xticklabels():
            label.set_rotation(45) 
            
        sns.lineplot(data=region_data, x='Date', y=y, ax=ax, errorbar=None)
        ax.set_title(region)
    
    plt.tight_layout()
    return plt.show()

In [30]:
result['Estimated Unemployment Rate (%)'].describe().T

count    697.000000
mean      10.486155
std        8.867251
min        0.000000
25%        4.460000
50%        7.600000
75%       14.230000
max       75.850000
Name: Estimated Unemployment Rate (%), dtype: float64

In [36]:
result[result['Region']=='Chandigarh']

,Region,Date,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area,Regional
689,Chandigarh,2019-05-31,18.35,348042.0,44.89,Urban,North
690,Chandigarh,2019-06-30,12.40,337145.0,40.44,Urban,North
691,Chandigarh,2019-07-31,21.80,294379.0,39.47,Urban,North
692,Chandigarh,2019-08-31,9.52,328282.0,37.95,Urban,North
693,Chandigarh,2019-09-30,20.14,327239.0,42.77,Urban,North
694,Chandigarh,2019-10-31,13.99,330856.0,40.06,Urban,North
695,Chandigarh,2019-11-30,22.05,289593.0,38.60,Urban,North
696,Chandigarh,2019-12-31,8.33,311146.0,35.19,Urban,North

In [49]:
result.describe().T

,count,mean,std,min,25%,50%,75%,max
Estimated Unemployment Rate (%),697.0,1.048615e+01,8.867251e+00,0.00,4.46,7.60,14.23,75.85
Estimated Employed,697.0,9.927923e+06,1.097239e+07,87974.00,1946957.00,6437868.00,14107641.00,59433759.00
Estimated Labour Participation Rate (%),697.0,4.304146e+01,7.625807e+00,16.77,38.60,41.44,45.61,72.57

In [31]:
# getRegionWisePlots('Estimated Unemployment Rate (%)')

In [32]:
# getRegionWisePlots('Estimated Employed')

In [33]:
# getRegionWisePlots('Estimated Labour Participation Rate (%)')

In [34]:
# result_sorted = result.sort_values('Estimated Unemployment Rate (%)', ascending=False)
# max_unemployment = result_sorted.groupby(result_sorted['Date'].dt.to_period('M')).first()[['Region', 'Estimated Unemployment Rate (%)']]
# max_unemployment